
.bgimg{
  background-color: #FB5A5A;
  height: 500px;
  width: 1500px;
}
#img1{
  height: 2rem;
  width: 2rem;
  padding-left: 10%;
}
#img2{
  height: 2rem;
  width: 2rem;
  padding-top:
}
#img3{
  height: 2rem;
  width: 2rem;
}
#img4{
  height: 2rem;
  width: 2rem;

}
#img5{
  height: 2rem;
  width: 2rem;

}
